
<!--Header-part-->
<div id="header">
  <h1>Dashboard</h1>
</div>
<!--sidebar-menu-->

<!--main-container-part-->
 <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <div class="huge">Upload Excel</div>
                                        <div>Upload Donor Details Via Excel file</div>
                                    </div>
                                </div>
                            </div>
                            <a [routerLink]="['/excelconverter']">
                                <div class="panel-footer">
                                    <span class="pull-left">Click Here</span>
                                    <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <div class="huge">Pending Approvals</div>
                                        <div>Take Decision on newly entered Donor details</div>
                                    </div>
                                </div>
                            </div>
                            <a [routerLink]="['/pendingapprovals']">
                                <div class="panel-footer">
                                    <span class="pull-left">Click Here</span>
                                    <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <div class="huge">List Donors</div>
                                        <div><br/>View Total Donors List </div>
                                    </div>
                                </div>
                            </div>
                            <a [routerLink]="['/listdonors']">
                                <div class="panel-footer">
                                    <span class="pull-left">Click Here</span>
                                    <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <div class="huge">Single Entry</div>
                                        <div>Enter Donor Details Indivudually</div>
                                    </div>
                                </div>
                            </div>
                            <a [routerLink]="['/singleentry']">
                                <div class="panel-footer">
                                    <span class="pull-left">Click Here</span>
                                    <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>